<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.razorpay.sampleapp"
    android:versionCode="8"
    android:versionName="1.5"
    >

    <!-- Add the RECEIVE_SMS permission to enable OTP reading -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Razorpay Sample App"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="PaymentActivity"
            android:label="Razorpay Sample App"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_ILgsfZCZoFIKMb"
            />

    </application>

</manifest>
